@tailwind base;
@tailwind components;
@tailwind utilities;



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 body {
  @apply font-sans text-[#3A3A3A] bg-white dark:text-[#E5E5E5] dark:bg-[#0A0A0A];
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-[#080D41] dark:text-[#E5E5E5];
}


}

@layer components {
  .btn {
    @apply bg-[#0D92F4] px-5 py-2 rounded-xl font-bold

  }


   .nav1-list-item {
    @apply pr-14 border-r border-white/30;
  }

   .nav2-list-item {
    @apply hover:text-[#c6c4c4] cursor-pointer;
  }

   .country-list-item {
    @apply px-4 py-2 hover:text-blue-500 cursor-pointer;
  }

   .apply-card {
    @apply max-w-md w-[28rem] min-h-[28rem] bg-white shadow-lg rounded-xl mt-10;
  }

  .apply-card-header {
    @apply w-full bg-gradient-to-r from-[#407cf4] to-[#1B9FCB] rounded-t-xl;
  }

  .apply-card-title {
    @apply text-2xl font-bold py-7 text-center text-white mb-10;
  }

  .form-input {
    @apply w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#0D92F4];
  }

  .form-select {
    @apply w-full border border-gray-300 text-gray-500 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#0D92F4];
  }

  .gradient-btn {
    @apply mt-10 bg-gradient-to-r from-[#407cf4] to-[#1B9FCB] text-white px-6 py-5 rounded-lg font-bold transition duration-300;
  }

  .gradient-btn:hover {
    @apply from-[#6a9df5] to-[#5bc8e5] opacity-100;
  }

   .social-icon {
    @apply border border-[#E7ECFD] rounded-full w-10 h-10 flex items-center justify-center;
  }

  .social-icon i {
    @apply text-[#2e5688] p-2 text-sm;
  }

   .footer-list {
    @apply flex items-center gap-6 font-semibold marker:text-blue-500 bg-[#080D41] text-white w-full;
  }

  .footer-item {
    @apply list-disc px-2;
  }

  .footer-item-full {
    @apply px-2 w-full;
  }
}



@layer utilities {
  .gradient-bottom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #6EE7B7, #3B82F6);
  }

  .gradient-bottom-border-hover:hover::after,
  .gradient-bottom-border-focus:focus::after,
  .gradient-bottom-border-active:active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #6EE7B7, #3B82F6);
  }
}
